# Supabase Configuration
# Use the Project URL and the 'anon' public JWT key (starts with eyJhbGciOi...)
NEXT_PUBLIC_SUPABASE_URL=https://psnoqlfyugqoolrzudqx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzbm9xbGZ5dWdxb29scnp1ZHF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0MjU0MzIsImV4cCI6MjEwNzAwMTQzMn0.As2l_h5oxSmKxuDMyK-hTkv7Fg58mKKnO0XLD94r7rU

VITE_SUPABASE_URL=https://psnoqlfyugqoolrzudqx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzbm9xbGZ5dWdxb29scnp1ZHF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0MjU0MzIsImV4cCI6MjEwNzAwMTQzMn0.As2l_h5oxSmKxuDMyK-hTkv7Fg58mKKnO0XLD94r7rU
